<br /><br />

<div class="block">

<h1>Welcome!!</h1>
<p>Here you can verify if an word or sentence <br />has the same amount and letters.</p>

<%= link_to "Click here to verify", new_dado_path %>
</div>
